html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-component {
  padding-left: 2em;
  padding-right: 2em;
}

.logout {
  margin-right: 2em;
}

@media screen and (max-width: 485px) {
  .navbar-component {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .logout {
    margin-right: 0.4em;
  }
}
